In [205]:
import pandas as pd
import numpy as np

In [206]:
df = pd.read_excel(r"D:\Options\ICICIBANK\FUT and SPOT 1 min Data\icicibank spot  1 min.xlsx", index_col=0)

In [207]:
df['Return %'] = ((df['Close'] / df['Close'].shift(1))-1)*100

In [208]:
df.head()

,Date,Time,Open,Close,High,Low,Volume,Return,Return %
Dates,,,,,,,,,
2019-05-06 09:15:00,2019-05-06,09:15:00,395.95,397.05,397.05,394.65,271721,NaN,NaN
2019-05-06 09:16:00,2019-05-06,09:16:00,397.00,396.90,397.30,396.25,129386,-0.037779,-0.037779
2019-05-06 09:17:00,2019-05-06,09:17:00,396.90,398.40,398.40,396.85,122729,0.377929,0.377929
2019-05-06 09:18:00,2019-05-06,09:18:00,398.30,397.45,398.30,397.10,99119,-0.238454,-0.238454
2019-05-06 09:19:00,2019-05-06,09:19:00,397.60,396.65,397.85,395.90,161665,-0.201283,-0.201283

In [209]:
df.drop('Return', axis=1, inplace=True)

In [210]:
df.head()

,Date,Time,Open,Close,High,Low,Volume,Return %
Dates,,,,,,,,
2019-05-06 09:15:00,2019-05-06,09:15:00,395.95,397.05,397.05,394.65,271721,NaN
2019-05-06 09:16:00,2019-05-06,09:16:00,397.00,396.90,397.30,396.25,129386,-0.037779
2019-05-06 09:17:00,2019-05-06,09:17:00,396.90,398.40,398.40,396.85,122729,0.377929
2019-05-06 09:18:00,2019-05-06,09:18:00,398.30,397.45,398.30,397.10,99119,-0.238454
2019-05-06 09:19:00,2019-05-06,09:19:00,397.60,396.65,397.85,395.90,161665,-0.201283

In [211]:
df = df.dropna(axis=0)

In [212]:
df.head()

,Date,Time,Open,Close,High,Low,Volume,Return %
Dates,,,,,,,,
2019-05-06 09:16:00,2019-05-06,09:16:00,397.00,396.90,397.30,396.25,129386,-0.037779
2019-05-06 09:17:00,2019-05-06,09:17:00,396.90,398.40,398.40,396.85,122729,0.377929
2019-05-06 09:18:00,2019-05-06,09:18:00,398.30,397.45,398.30,397.10,99119,-0.238454
2019-05-06 09:19:00,2019-05-06,09:19:00,397.60,396.65,397.85,395.90,161665,-0.201283
2019-05-06 09:20:00,2019-05-06,09:20:00,396.45,395.95,397.25,395.50,123691,-0.176478

In [213]:
unique_dates = pd.DataFrame(df['Date'].unique())

In [214]:
unique_dates.head()

           0
0 2019-05-06
1 2019-05-07
2 2019-05-08
3 2019-05-09
4 2019-05-10

In [215]:
unique_dates = unique_dates + pd.Timedelta(hours=9, minutes = 15)

In [216]:
unique_dates.head(5)

                    0
0 2019-05-06 09:15:00
1 2019-05-07 09:15:00
2 2019-05-08 09:15:00
3 2019-05-09 09:15:00
4 2019-05-10 09:15:00

In [217]:
x = len(unique_dates.iloc[:])
IDV = []
start_time_stamp = []
end_time_stamp = []
for i in range(0,x-1):
    #print(i)
    
    start_time = unique_dates.iloc[i,0]
    end_time = unique_dates.iloc[i+1,0]
    start_time_stamp.append(start_time)
    end_time_stamp.append(end_time)
    
    
    mask = (df.index >= start_time) & (df.index <= end_time)
    df_new = df.loc[mask]
    idv_value = (df_new['Return %'].std())*np.sqrt(252*375)
    #print(idv_value)
    IDV.append(idv_value)
df_idv = pd.DataFrame([start_time_stamp, end_time_stamp, IDV]).transpose()

In [218]:
df_idv.rename(columns={0:"From", 1: "To", 2: "IDV_Value"}, inplace=True)

In [219]:
df_idv.head()

                 From                  To IDV_Value
0 2019-05-06 09:15:00 2019-05-07 09:15:00   30.6127
1 2019-05-07 09:15:00 2019-05-08 09:15:00   35.6209
2 2019-05-08 09:15:00 2019-05-09 09:15:00   29.4992
3 2019-05-09 09:15:00 2019-05-10 09:15:00   35.1475
4 2019-05-10 09:15:00 2019-05-13 09:15:00   34.1143

In [220]:
df_idv.round({"IDV_Value":2})

                   From                  To IDV_Value
0   2019-05-06 09:15:00 2019-05-07 09:15:00   30.6127
1   2019-05-07 09:15:00 2019-05-08 09:15:00   35.6209
2   2019-05-08 09:15:00 2019-05-09 09:15:00   29.4992
3   2019-05-09 09:15:00 2019-05-10 09:15:00   35.1475
4   2019-05-10 09:15:00 2019-05-13 09:15:00   34.1143
..                  ...                 ...       ...
124 2019-11-07 09:15:00 2019-11-08 09:15:00   29.1912
125 2019-11-08 09:15:00 2019-11-11 09:15:00   31.0169
126 2019-11-11 09:15:00 2019-11-13 09:15:00   26.6294
127 2019-11-13 09:15:00 2019-11-14 09:15:00   23.6607
128 2019-11-14 09:15:00 2019-11-15 09:15:00   24.6879

[129 rows x 3 columns]

In [221]:
df_idv.to_excel(r"C:\Users\Admin\Downloads\idv_values.xlsx")

In [222]:
pwd()

'C:\\Users\\Admin\\Options\\IDV_&_IV'