In [223]:
import pandas as pd
import numpy as np

In [224]:
df = pd.read_excel(r"D:\Options\ICICIBANK\FUT and SPOT 1 min Data\icicibank spot  1 min.xlsx", index_col=0)

In [225]:
df['Return %'] = ((df['Close'] / df['Close'].shift(1))-1)*100

In [229]:
df.head(3)

,Date,Time,Open,Close,High,Low,Volume,Return %
Dates,,,,,,,,
2019-05-06 09:16:00,2019-05-06,09:16:00,397.0,396.90,397.3,396.25,129386,-0.037779
2019-05-06 09:17:00,2019-05-06,09:17:00,396.9,398.40,398.4,396.85,122729,0.377929
2019-05-06 09:18:00,2019-05-06,09:18:00,398.3,397.45,398.3,397.10,99119,-0.238454

In [230]:
df = df.dropna(axis=0)

In [231]:
df.head(3)

,Date,Time,Open,Close,High,Low,Volume,Return %
Dates,,,,,,,,
2019-05-06 09:16:00,2019-05-06,09:16:00,397.0,396.90,397.3,396.25,129386,-0.037779
2019-05-06 09:17:00,2019-05-06,09:17:00,396.9,398.40,398.4,396.85,122729,0.377929
2019-05-06 09:18:00,2019-05-06,09:18:00,398.3,397.45,398.3,397.10,99119,-0.238454

In [232]:
unique_dates = pd.DataFrame(df['Date'].unique())

In [233]:
unique_dates.head(3)

           0
0 2019-05-06
1 2019-05-07
2 2019-05-08

In [234]:
unique_dates = unique_dates + pd.Timedelta(hours=9, minutes = 15)

In [235]:
unique_dates.head(3)

                    0
0 2019-05-06 09:15:00
1 2019-05-07 09:15:00
2 2019-05-08 09:15:00

In [236]:
x = len(unique_dates.iloc[:])
IDV = []
start_time_stamp = []
end_time_stamp = []
for i in range(0,x-1):
    #print(i)
    
    start_time = unique_dates.iloc[i,0]
    end_time = unique_dates.iloc[i+1,0]
    start_time_stamp.append(start_time)
    end_time_stamp.append(end_time)
    
    
    mask = (df.index >= start_time) & (df.index <= end_time)
    df_new = df.loc[mask]
    idv_value = (df_new['Return %'].std())*np.sqrt(252*375)
    #print(idv_value)
    IDV.append(idv_value)
df_idv = pd.DataFrame([start_time_stamp, end_time_stamp, IDV]).transpose()

In [237]:
df_idv.rename(columns={0:"From", 1: "To", 2: "IDV_Value"}, inplace=True)

In [239]:
df_idv.head(3)

                 From                  To IDV_Value
0 2019-05-06 09:15:00 2019-05-07 09:15:00   30.6127
1 2019-05-07 09:15:00 2019-05-08 09:15:00   35.6209
2 2019-05-08 09:15:00 2019-05-09 09:15:00   29.4992

In [241]:
df_idv.to_excel(r"C:\Users\Admin\Downloads\idv_values.xlsx")